<div class="jumbotron">
    <h2>Test (quasi) completato!</h2>
    <p class="lead">L'ambiente necessario al Workshop funziona correttamente! Come ultimo passaggio ti chiediamo di cliccare sul link e compilare il modulo di adesione workshop, in modo da confermarci il corretto settaggio del tuo ambiente di lavoro!</p>
    <p>
        <a class="btn btn-lg btn-success" href="http://www.corley.it/form/quest/modulo/9.html" role="button" target="_blank">Clicca qui per completare il test</a>
    </p>
</div>
